@tailwind base;

@layer base {

    .my-editor p a {
        text-decoration: underline;
        color: #3700ff;
    }

    .my-editor p a:visited {
        color: #6a00ff;
    }

    .no-tailwindcss-base {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: revert;
            font-weight: revert;
        }

        ol,
        ul {
            list-style: revert;
            margin: revert;
            padding: revert;
        }
    }
}

@tailwind components;
@tailwind utilities;


/* custom swal z-index  */
.my-swal-popup {
    z-index: 2000 !important;

}
